.page-container {
    position: relative;
    min-height: 100vh;
}

.container {
    max-width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
}

.logo {
    text-decoration: none;
    font-size: 3vw;
    color: rgb(10, 77, 46);
    padding: 1vw;
}

.navbar {
    background-color: white;
    border-bottom:rgb(10, 77, 46) 1px solid;
}

.navright {
    float: right;
    font-size: 1.3vw;
}

.navright a {
    padding: 1vw;
}

.navbar a {
    text-decoration: none;
    color: rgb(10, 77, 46);
}

.navbar a:hover {
    background-color: rgb(10, 77, 46);
    color: white;
}

.navbar a:active {
    background-color: rgb(10, 77, 46);
    color: white;
}

.hero {
    background-image: url('Wales hero.jpg');
    background-size: 100%;
    padding-bottom: 50vw;
    color: rgb(10, 77, 46);
}

.hero-h1 {
    font-size: 6vw;
}

.hero-h5 {
    font-size: 1.3vw;
}

.home-h2 {
    font-size: 5vw;
}

.walks {
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(10, 77, 46);
}

.walks img {
    width: 800px;
    max-width: 100%;
}

.pages-h1 {
    font-size: 4vw;
}

.walks h3 {
    margin-top: 1vw;
    font-size: 2vw;
}

.beaches {
    background-color: rgb(165, 195, 181);
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(10, 77, 46);
}

.card {
    margin-top: 50px;
    color: rgb(10, 77, 46);
}

.card-title {
    font-size: 2vw;
}

.card-text {
    font-size: 1.5vw;
}

.card-image {
    width: fit-content;
    max-width: 100%;
    padding-bottom: 10px;
}

.card-body a.btn {
    background-color: rgb(165, 195, 181);
    border-color: rgb(10, 77, 46);
    color: rgb(10, 77, 46);
    font-size: 1.5vw;
}

.card-body a.btn:hover {
    background-color: rgb(10, 77, 46);
    color: white;
}

.card-body a.btn:active {
    background-color: rgb(10, 77, 46);
    color: white;
}

.attractions {
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(10, 77, 46)
}

.attractions img {
    width: 700px;
    max-width: 100%;
}

.attractions h3 {
    margin-top: 1vw;
    font-size: 2vw;
}

.footer {
    background-color:rgb(165, 195, 181);
    color: rgb(10, 77, 46);
    text-align: center;
    font-size: 1vw;
    padding-top: 3vw;
    padding-bottom: 0.5vw;
    bottom: 0;
    position: absolute;
    width: 100%;
   
}

h1 {
    color: rgb(10, 77, 46);
    font-size: 6vw;
}

.pages-header {
    background-color: rgb(165, 195, 181);
    padding-top: 2vw;
    padding-bottom: 1vw;
}

.beaches-content h5 {
    font-size: 2.5vw;
    color: rgb(10, 77, 46);
    padding-top: 2vw;
}

.beaches-content p {
    font-size: 1.5vw;
    color: rgb(10, 77, 46);
}

.beaches-content img {
    width: 500px;
    padding-top: 5vw;
    padding-bottom: 1vw;
    max-width: 100%
}

.green-content {
    background-color: rgb(165, 195, 181);
}

.leave-comment .btn {
    background-color: rgb(165, 195, 181);
    border-color: rgb(10, 77, 46);
    color: rgb(10, 77, 46);
    font-size: 1.5vw;
}

.leave-comment .btn:hover {
    background-color: rgb(10, 77, 46);
    color: white;
}

.leave-comment .btn:active {
    background-color: rgb(10, 77, 46);
    color: white;
}

.leave-comment {
    padding-bottom: 1vw;
}

.contactus img {
    max-width: 100%;
}
.contactus p {
    color:rgb(10, 77, 46);
    padding-top: 3vw;
}

form {
    display: flex;
    flex-direction: column;
    color: rgb(10, 77, 46);
}

form .btn {
    width: 10vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 1.25vw;
    background-color: rgb(165, 195, 181);
    color: rgb(10, 77, 46);
    border-color: rgb(10, 77, 46);
}

form .btn:hover {
    background-color: rgb(10, 77, 46);
    color: white;
}

form .btn:active {
    background-color: rgb(10, 77, 46);
    color: white;
}